aniso8601
asgiref
attrs
bcrypt
blinker
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cryptography
defusedxml
distlib
dj-rest-auth
Django
django-allauth
djangorestframework
dnspython
drf-spectacular
email-validator
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-MySQL
Flask-MySQLdb
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
inflection
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
marshmallow
marshmallow-sqlalchemy
mysql-connector
mysql-connector-python
mysqlclient
numpy
oauthlib
packaging
pandas
pi
Pillow
platformdirs
protobuf
pycparser
PyJWT
PyMySQL
python-dateutil
python3-openid
pytz
PyYAML
referencing
requests
requests-oauthlib
# rpds-py
six
SQLAlchemy
sqlparse
svgwrite
Tree
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
virtualenvwrapper-win
Werkzeug
wtf
WTForms
