    {% extends 'base.html' %}
    {% include 'header.html' %}



    {% block title %} Home {% endblock %}
    {% block body %}
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2> <b>Items </b>  <button type="button"  class="btn btn-success float-right"
                    data-toggle="modal" data-target="#mymodal">Add To Cart</button> </h2>
                    <table class="table table-hover table-dark">
                        <tr>
                            <!--<th>ID</th>-->
                            <th class="text-center">Name</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Image</th>
                            <th class="text-center">Action</th>
                        </tr>
                        
                    {% for row in items %}
                    
                        <tr>
                            <!--<td>{{row.id}}</td>-->
                            <td class="text-center">{{row.name}}</td>
                            <td class="text-center">{{row.quantity}}</td>
                            <td class="text-center">
                                <a href="{{row.image_url}}" target="_blank">
                                    <img src="{{row.image_url}}" alt="Item Image" width="130px" height="100px">
                                </a>
                            </td>
                        
                            

                            <td class="text-center">
                                <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Update</a>
                                <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                            </td>
                        </tr>
                    
                    <!-- Modal Edit Employee-->
    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">


            <div class="modal-header">


                <h4 class="modal-title">Update Cart</h4>


            </div>


            <div class="modal-body">


                <form action="{{url_for('update')}}" method="POST">


                <div class="form-group">


                    <label>Name:</label>
                    <input type="hidden"  name="id" value="{{row.id}}">

                    <input type="text" class="form-control" name="name" value="{{row.name}}">


                </div>



                

                <div class="form-group">


                    <label>Quantity:</label>

                    <input type="number" class="form-control" name="quantity" value="{{row.quantity}}">


                </div>


                <div class="form-group">


                    <button class="btn btn-primary" type="submit">Update</button>


                </div>


                </form>


            </div>


            <div class="modal-footer">


                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


            </div>


        </div>


    </div>

    </div>
                        {% endfor %}
                        

                    </table>


                </div>



                    <!-- Modal Add Employee-->


    <div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Add Item</h4>
            </div>
            <div class="modal-body">

                    <form action="{{url_for('insert')}}" method="POST" enctype="multipart/form-data">


                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" required="1">
                    </div>


                        

                    <div class="form-group">
                        <label>Quantity:</label>
                        <input type="number" class="form-control" name="quantity" required="1">
                    </div>



                    <div class="form-group">
                        <label>Image:</label>
                        <input type="file" name="image">
                    </div>



                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add Item</button>
                    </div>


                    </form>


            </div>


            <div class="modal-footer">


                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


            </div>


        </div>


    </div>


    </div>





            </div>

        </div>


    </div>


    {% endblock %}